<a role="button" class="action action-{{nameLowerCase}}" href="#" data-action="{{name}}">
	{{#if icon}}
		<img class="svg" alt="{{altText}}" src="{{icon}}" />
	{{else}}
		{{#if iconClass}}
			<span class="icon {{iconClass}}" />
		{{/if}}
		{{#unless hasDisplayName}}
			<span class="hidden-visually">{{altText}}</span>
		{{/unless}}
	{{/if}}
	{{#if displayName}}<span> {{displayName}}</span>{{/if}}
</a>
