<form class="filenameform">
	<label for="{{cid}}-input-{{fileType}}" class="hidden-visually">New folder name</label>
	<input id="{{cid}}-input-{{fileType}}" type="text" value="{{fileName}}" autocomplete="off" autocapitalize="off">
	<input type="submit" value=" " class="icon-confirm" />
</form>
