<a href="#" role="button" aria-label="Create a new Folder , File or Text Document"  class="button new">
	<span class="icon {{iconClass}}"></span>
	<span class="hidden-visually">{{addText}}</span>
</a>
