<li class="comment{{#if isUnread}} unread{{/if}}{{#if isLong}} collapsed{{/if}}" data-id="{{id}}">
	<div class="authorRow">
		<div class="avatar{{#if isUserAuthor}} currentUser{{/if}}" {{#if actorId}}data-username="{{actorId}}"{{/if}}> </div>
		<div class="author{{#if isUserAuthor}} currentUser{{/if}}">{{actorDisplayName}}</div>
		{{#if isUserAuthor}}
			<a role="button" href="#" class="action more icon icon-more has-tooltip"></a>
			<div class="deleteLoading icon-loading-small hidden"></div>
		{{/if}}
		<div class="date has-tooltip live-relative-timestamp" data-timestamp="{{timestamp}}" title="{{altDate}}">{{date}}</div>
	</div>
	<div class="message">{{{formattedMessage}}}</div>
	{{#if isLong}}
		<div class="message-overlay"></div>
	{{/if}}
</li>
