<{{tag}} class="newCommentRow comment" data-id="{{id}}">
	<div class="authorRow">
		<div class="avatar currentUser" data-username="{{actorId}}"></div>
		<div class="author currentUser">{{actorDisplayName}}</div>
		{{#if isEditMode}}
			<div class="action-container">
				<a role="button" href="#" class="action cancel icon icon-close has-tooltip" title="{{cancelText}}"></a>
			</div>
		{{/if}}
	</div>
	<form class="newCommentForm">
		<div contentEditable="true" class="message" data-placeholder="{{newMessagePlaceholder}}">{{message}}</div>
		<input class="submit icon-confirm has-tooltip" type="submit" value="" title="{{submitText}}"/>
		<div class="submitLoading icon-loading-small hidden"></div>
	</form>
</{{tag}}>
